<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-info">
                    <h2 class="footer-title">Title Here</h2>
                    <p class="footer-description">
                        Lorem ipsum dolor sit amet, consecte-tur adipiscing elit <br>
                        Aliquam at dignis-sim nunc, id maximus ex <br>
                        Etiam nec dignissim elit, at dignissim enim
                    </p>
                    <div class="social-icons">
                        <a href="#" class="social-icon"><img th:src="@{default/images/3735564-13.png}" alt="Instagram"></a>
                        <a href="#" class="social-icon"><img th:src="@{default/images/3735564-12.png}" alt="Facebook"></a>
                        <a href="#" class="social-icon"><img th:src="@{default/images/3735564-11.png}" alt="Twitter"></a>
                        <a href="#" class="social-icon"><img th:src="@{default/images/3735564-10.png}" alt="WhatsApp"></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8">
                <div class="row">
                    <!-- About Column -->
                    <div class="col-md-4">
                        <div class="footer-menu">
                            <h3 class="menu-title">About</h3>
                            <ul class="menu-list">
                                <li><a href="#">History</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Brand Guidelines</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Services Column -->
                    <div class="col-md-4">
                        <div class="footer-menu">
                            <h3 class="menu-title">Services</h3>
                            <ul class="menu-list">
                                <li><a href="#">How to Order</a></li>
                                <li><a href="#">Our Product</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Promo</a></li>
                                <li><a href="#">Payment Method</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Other Column -->
                    <div class="col-md-4">
                        <div class="footer-menu">
                            <h3 class="menu-title">Other</h3>
                            <ul class="menu-list">
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->
</body>
</html>